.ProjectHover {
  a:hover {
    color: var(--translucent-charcoal)
  }

 .spaceBetween {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 4rem;
}

 .centered {
  display: flex;
  justify-content: center;
  height: 4rem;
 }

 .site {
   color: var(--translucent-charcoal);

   &:hover {
    color: var(--white)
    }
  }
}
