.Projects {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--gold);

  .wrapper {
    width: 80%;
    height: 100%;
    position: relative;
    top: 10%;
    left: 12%;
    
    overflow-y: hidden;
    overflow-x: scroll; 
    cursor: url('../../assets/icons/drag-cursor.png'), grab;

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      display: inline-flex;
    }
  }
}
