.mainHeading {
  font-family: var(--display-font);
  font-size: 100px;
  font-size: 6.3rem;
  font-weight: 700;
  text-align: right;
  color: var(--salmon);
}

.pageHeading {
  font-family: var(--display-font);
  font-weight: 700;
  font-size: 4.8rem;
  text-align: right;
  position: relative;
  top: 8%;
  right: 10%;
  margin: 0;
  color: var(--white);
}

.pullOut {
  font-family: var(--display-font);
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--white);
}

.subheading {
  font-family: var(--display-font);
  font-weight: 600;
  font-size: 2rem;
  color: var(--white);
}

.allCaps {
  font-family: var(--body-font);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  color: var(--white);
}

.body {
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--white);
}
