:root {
  --salmon: #F99685;
  --taupe: #A5968A;
  --gold: #DAAC87;
  --blue: #9EB5BB;
  --charcoal: #323232;
  --black: #000000;
  --white: #ffffff;

  --display-font: 'Lora', serif;
  --body-font: 'Lato', sans-serif;
}
