:root {
  --salmon: #F99685;
  --taupe: #A5968A;
  --gold: #DAAC87;
  --blue: #9EB5BB;
  --charcoal: #323232;
  --translucent-charcoal: #45524ba8;
  --translucent-charcoal: #433c3cb1;
  --black: #000000;
  --white: #ffffff;

  --display-font: 'Lora', serif;
  --body-font: 'Lato', sans-serif;

  --project-overview-height: 8.5rem;
}
