.Strengths {
  position: relative;
  background-color: var(--taupe);
  height: 100vh;

  .element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 27rem;

    img {
      width: 100%;
      transition: all .5s ease-in-out;
    }
    
    .content {
      position: absolute;
      width: 18rem;

      h3 {
        color: var(--salmon);
        text-align: center;
      }
      
      .details {
        display: none;
      }
    }

    &:hover {
      h3 {
        display: none;
      }
  
      .details {
        display: block;
      }

      img {
        transform: scale(1.1);
      }
    } 
  }
}

  .learner {
    transform: translate(30%, -15%);
  }
  
  .quality {
    transform: translate(95%, -25%);
  }
  
  .problemSolver {
    transform: translate(200%, -175%);
  }  

