.Tech {
  margin-left: 6rem;
  height: 100vh;
  
  section.techList {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  dl.definitionList {
    width: 40%;
    height: 90vh;
    display: flex;
    flex-flow: column wrap;
  }
  
  @media only screen and (max-width: 768px) {
    margin: 0;

    section {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
    }

    dl.definitionList {
      width: 60%;
    }
  }
}
