.Home {
  height: 100vh;
  background-color: rgb(226, 233, 226);
  transition: opacity .5s ease-in;

  h1 {
    position: relative;
    top: 8%;
    right: 10%;
    margin: 0;
  }
}

.largeFlowers {
  width: 40%;
  min-width: 20rem;
}

.smallFlowers {
  width: 40%;
  min-width: 20rem;
  transform: translate(-20%, 10%);
}
