.Contact {
  height: 100vh;
  width: 100%;
  background-color: var(--blue);
  overflow: hidden;

  .resume {
    text-align: right;
    position: relative;
    top: 12%;
    right: 8%;
    margin: 2rem;
    z-index: 1;

    @media only screen and (max-width: 768px) {
    text-align: center;
    right: 0;
    top:10%;
    }
  }

  .contactInfo {
    position: relative;
    top: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    img.inkBlot {
      height: 100%;
      width: 100%;
    }

    .contactContainer {
      position: absolute;
      max-width: 20rem;
    }

    @media only screen and (min-width: 768px) {
      left: 14%;
      top: 0;
      width: 60%;
      min-width: 45rem;
    }
  }
}
